{{define "title"}} Login {{end}}

{{define "body"}}
    <div class="container">
        <h1 class="text">Log in</h1>
        <form action="/login" method="POST">
            <p class="text">
                Username:
                <input type="text" name="username">
            </p>
            <p class="text">
                Password:
                <input type="password" name="password">
            </p>
            <p class="text">
                <input type="submit" value="Submit">
            </p>
        </form>
    </div>
{{end}}
